img.logo {
    margin-bottom: 30px;
    border: 6px solid #FFF;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

ul {
    text-align: left;
    margin-top: 40px;
}

.content {
    text-align: left;
}